header {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  padding: .5rem 2rem .5rem 2rem;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.banner__imagen {
  width: 2rem;
}

.banner__nombre {
  padding-left: .5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.navbar-nav {
  padding-right: .5rem;
  flex-wrap: wrap;
}

.navbar-brand {
  padding-left: .5rem;
}


.nav-item {
  margin: 1rem .6rem .6rem .6rem;
}

.nav-link {
  color: #464646;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.dia__noche {
  cursor: pointer;
}

.nav__color {
  width: 25px;
  height: auto;
  padding-top: .3rem;
}

.nav__color:nth-child(2),
.banner.night .nav__color:nth-child(1) {
  display: none;
}

.nav-link::before,
.nav-link::after {
  content: '';
  border-bottom: 2px solid #00B6F0;
  position: absolute;
  opacity: 0;
  transition: 0.8s;
}

.nav-link::before {
  bottom: -1px;
  width: 85%;
  right: 8px;
}

.nav-link::after {
  bottom: -10px;
  width: 55%;
  left: 9px;
}

.nav-link:hover::before {
  opacity: 1;
  width: 65%;
}

.nav-link:hover::after {
  opacity: 1;
  width: 35%;
}

.nav-link.active::before,
.nav-link.active::after {
  border-bottom: 2px solid #00B6F0;
  position: absolute;
  opacity: 1;
}

.nav-link.active::after {
  bottom: -1px;
  width: 65%;
  opacity: 1;
  left: 9px;
}

.nav-link.active::before {
  bottom: -10px;
  width: 35%;
  right: 8px;
}

.nav__link--negrita {
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 2rem 2rem .5rem 1.25rem;
  }

  .banner.night .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .banner.night .navbar-toggler {
    border: 1px solid #fff;
  }

  .navbar-collapse {
    margin-top: 1rem;
  }

  .nav-link::before {
    right: 0px;
  }

  .nav-link::after {
    left: 0px;
  }

  .nav-link:hover::before {
    width: 90%;
  }
  
  .nav-link:hover::after {
    width: 80%;
  }

  .nav-link.active::after {
    width: 100%;
    left: 0px;
  }

  .nav-link.active::before {
    width: 100%;
    right: 0px;
  }
}