/* General */
main {
  font-family: 'Raleway', sans-serif;
}

.seccion__titulo {
  padding: 1rem 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #00B6F0;
}

/* Quien Soy */
.descripcion {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.quien {
  padding: 4.6rem 1.5rem 4rem 4.3rem;
}

.quien__soy {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 65px;
  color: black;
}

.quien__soy--resaltar {
  color: #00B6F0;
}

.menu__lista {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__item {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 3.5rem 3rem 0 7rem;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}


.menu__link:hover {
  cursor: pointer;
}

.menu__lista li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px !important;
}

.menu__lista li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
}

.menu__lista li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.menu__lista li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

.menu__lista li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

.menu__lista li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.menu__lista li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2;
}

.menu__lista li:nth-child(2) span {
  background: #0077B5;
}

.logo__perfil {
  width: 330px;
  height: 368px;
}

/* Sobre Mi */

.sobre {
  background-color: #E0F2FD;
  padding: 4rem 0 5.5rem 0;
}

.sobre__titulo {
  padding: 1rem 0 1rem 4.3rem;
  font-weight: 700;
  font-size: 2rem;
  color: #00B6F0;
}

.sobre__info {
  padding: 0 32% 0 4.3rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
  color: #464646;
}


.sobre .sobre__info span {
  position: relative;
  display: inline-block;
}

/* Skills */
.skills__col {
  padding: 4rem 0 5.5rem 0;
}

.skills__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: initial;
  width: 85%;
  margin: 0 auto;
}

.skill__item {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 4rem;
  width: 13%;
}

.skill__imagen {
  width: 40px;
  height: auto;

}

.skills__lista span {
  padding-left: 7px;
}

/* .skill__imagen:hover {
  transform: scale(90);
} */

/* Hobbies */
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.8rem 0 5.5rem 0;
}

.carousel {
  margin-top: 4rem;
  width: 50%;
}

.carousel-item {
  height: 400px;
}

.contenedor__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.hobbie__imagen {
  width: 20%;
}

/* Formacion */
.formaciones__col {
  padding: 3.8rem 0 3rem 0;
}

.formaciones__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 35px 0;
  margin: 0 auto;
}

.formaciones__conteiner .formacion__item {
  position: relative;
  width: 346px;
  height: 346px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.05);
  border-radius: 40px 0 40px 0px;
  margin: 30px;
}

.formaciones__conteiner .formacion__item .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0 40px 0px;
  transition: 0.5s;
}

.formaciones__conteiner .formacion__item .box:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}


.formacion__imagen {
  margin: 3.5rem 0 0 1.2rem;
  width: 80%;
  height: auto;
}

.formacion__imagen1 {
  margin: 3.5rem 0 0 1.2rem;
  width: 80%;
  height: auto;
}

.formaciones__titulo1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 2rem;
  margin-top: 1.5rem;
  color: #464646;
}

.formacion__imagen2 {
  width: 100%;
  height: auto;
  margin: 2.5rem 0 0 0;
}

.formaciones__tiempo {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 2rem;
  color: #464646;
}

.formaciones__titulo2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 2rem;
  margin-top: -0.5rem;
  color: #464646;
}

/* Proyectos */
.proyectos {
  padding: 3.8rem 0 6.5rem 0;
}

.proyectos__titulo {
  padding: 1rem 0 5.5rem 0;
}

.proyectos__row {
  /* width: 90%;
  margin: 0 auto; */
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.05);
  border-radius: 40px 0 40px 0px;
}

.proyectos__col {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .proyectos__conteiner {
  display: flex;
  align-items: center;
  width: 70%;
  height: 430px;
  padding: 0px;
  gap: 28px;
  background-color: #fff;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
} */

.conteiner__proyecto {
  width: 90%;
  height: auto;
  background-color: hsla(0, 0%, 46%, .2);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.proyecto__imagen {
  width: 100%;
  height: 344px;
}

.proyecto__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: auto;
  padding-top: 1rem;
}

.proyecto__titulo {
  color: #2d2e32;
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.proyecto__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #464646;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  padding-top: .8rem;
}

.enlace__lista {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  list-style: none;
}

.enlace__item {
  padding: 0 4rem 0 0;
}

.enlace__link {
  display: flex;
  align-items: center;
  color: #2d2e32;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

.icono__enlace {
  font-size: 2rem;
  padding-left: .5rem;
}

.enlace__lista .enlace__link:hover {
  color: #0077B5;
}

/* Contacto */
.contacto__col {
  position: relative;
}

.contacto {
  padding: 4.8rem 0 6.5rem 0;
}

.contacto__imagen {
  position: absolute;
  z-index: -1;
  top: 4.5rem;
  right: 2rem;
  width: 100%;
  height: 200px;
}

.contacto__col h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 5rem;
  color: #00B6F0;
}

.contacto__col p {
  font-weight: 570;
  font-size: 1rem;
  line-height: 25px;
  margin-left: 5rem;
  color: #464646;
}

.contacto__info {
  padding-top: 1rem;
}

.input__padron {
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 15px 10px;
  width: 45.1%;
  height: 35px;
}

.input__padron::placeholder {
  color: #0A3871;
  opacity: 0.6;
}

.input__padron--texta:focus,
.input__padron:focus {
  border: 1px solid #c5d0d5;
}

.input__padron--modificado {
  width: 95.5%;
}

.input__padron--texta {
  display: block;
  padding-top: 15px;
  width: 95.5%;
  margin-top: 15px;
  margin-left: 10px;
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

}

.input__padron--texta::placeholder {
  color: #0A3871;
  opacity: 0.6;
}

input,
textarea {
  font-size: .9rem;
  text-align: left;
  padding-left: 15px;
  resize: none;
  border: none;
  outline: none;
}

.container__btn {
  display: flex;
  justify-content: center;
}

.btn__Enviar {
  padding: 10px 48px;
  width: 31.5%;
  background: #0096c7;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  display: flex;
  cursor: pointer;
  transition: .3s ease;
  border-radius: 6px;
  position: relative;
  font-size: 16px;
  margin-top: 3rem;
}

.btn__Enviar:hover {
  background: #0096c7;
}

.btn__Enviar .icon {
  margin-right: 14px;
  position: relative;
  z-index: 10;
}

.btn__Enviar.active .icon {
  animation: animateRocket 2s ease-in-out forwards;
}

.btn__Enviar::before {
  content: 'Enviado';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #73a942;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s ease-in-out;
  transition-delay: 1s;
  border-radius: 6px;
  z-index: 20;
}

.btn__Enviar.active::before {
  width: 100%;
}

@keyframes animateRocket {

  0%,
  5% {
    transform: rotate(0);
    left: 0;
  }

  25% {
    transform: rotate(45deg);
    left: 0;
  }

  50% {
    transform: rotate(45deg);
    left: -48px;
  }

  100% {
    transform: rotate(45deg);
    left: calc(100% + 48px);
  }
}
