/* General */
main {
  font-family: 'Raleway', sans-serif;
}

.seccion__titulo {
  padding: 1rem 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #00B6F0;
}

/* Quien Soy */
.descripcion {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.quien {
  padding: 4.6rem 0 4rem 2.6rem;
}

/* .quien__logo {
  border: 2px solid rebeccapurple;
} */

.quien__soy {
  font-weight: 700;
  font-size: 3.2em;
  line-height: 65px;
  color: black;
}

.quien h2 span {
  color: #00B6F0;
}

.menu__lista {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__item {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 3.5rem 3rem 0 7rem;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}


.menu__link:hover {
  cursor: pointer;
}

.menu__lista li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px !important;
}

.menu__lista li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
}

.menu__lista li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.menu__lista li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

.menu__lista li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

.menu__lista li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.menu__lista li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2;
}

.menu__lista li:nth-child(2) span {
  background: #0077B5;
}

.logo__perfil {
  width: 330px;
  height: 368px;
}

/* Sobre Mi */

.sobre {
  background-color: #E0F2FD;
  padding: 4rem 0 5.5rem 0;
}

.sobre__titulo {
  padding: 1rem 0 1rem 2.6rem;
  font-weight: 700;
  font-size: 2rem;
  color: #00B6F0;
}

.sobre__info {
  padding: 0 2.6rem 0 2.6rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
  color: #464646;
}


.sobre .sobre__info span {
  position: relative;
  display: inline-block;
}

.icon__bandera {
  width: 1.3rem;
  height: auto;
  padding-bottom: .5rem;
  padding-left: .15rem;
}

/* Skills */
.skills__col {
  padding: 4rem 0 5.5rem 0;
}

.skills__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: initial;
  width: 100%;
  margin: 0 auto;
}

.skill__item {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 4rem;
  width: 13%;
}

.skill__imagen {
  width: 40px;
  height: auto;

}

.skills__lista span {
  padding-left: 7px;
}

/* .skill__imagen:hover {
  transform: scale(90);
} */

/* Hobbies */
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.8rem 0 5.5rem 0;
}

.carousel {
  margin-top: 4rem;
  width: 45%;
}

.carousel-item {
  height: 350px;
}

.contenedor__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11.5%;
}

.hobbie__imagen {
  width: 20%;
  border-radius: 1rem;
}

.seccion__clara {
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  padding-bottom: 3.5rem;
}

/* Formacion */
.formaciones__col {
  padding: 3.8rem 0 3rem 0;
}

.formaciones__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 35px 0;
  margin: 0 auto;
}

.formaciones__conteiner .formacion__item {
  position: relative;
  width: 346px;
  height: 346px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.05);
  border-radius: 40px 0 40px 0px;
  margin: 30px;
}

.formaciones__conteiner .formacion__item .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0 40px 0px;
  transition: 0.5s;
}

.formaciones__conteiner .formacion__item .box:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}


.formacion__imagen {
  margin: 3.5rem 0 0 1.2rem;
  width: 80%;
  height: auto;
}

.formacion__imagen1 {
  margin: 3.5rem 0 0 1.2rem;
  width: 80%;
  height: auto;
}

.formaciones__titulo1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 2rem;
  margin-top: 1.5rem;
  color: #464646;
}

.formacion__imagen2 {
  width: 100%;
  height: auto;
  margin: 2.5rem 0 0 0;
}

.formaciones__tiempo {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 2rem;
  color: #464646;
}

.formaciones__titulo2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 2rem;
  margin-top: -0.5rem;
  color: #464646;
}

/* Proyectos */
.proyectos {
  padding: 3.8rem 0 6.5rem 0;
}

.proyectos__titulo {
  padding: 1rem 0 5.5rem 0;
}

.proyectos__row {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.05);
  border-radius: 40px 0 40px 0px;
}

.proyectos__col {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner__proyecto {
  width: 90%;
  height: auto;
  background-color: hsla(0, 0%, 46%, .2);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.proyecto__imagen {
  width: 100%;
  height: 344px;
}

.proyecto__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: auto;
  padding-top: 1rem;
}

.proyecto__titulo {
  color: #2d2e32;
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.proyecto__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #464646;
}

.proyecto__descripcion .seccion__clara {
  color: black;
  padding-bottom: 0rem;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  padding-top: .8rem;
}

.enlace__lista {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  list-style: none;
}

.enlace__item {
  padding: 0 4rem 0 0;
}

.enlace__link {
  display: flex;
  align-items: center;
  color: #2d2e32;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

.icono__enlace {
  font-size: 2rem;
  padding-left: .5rem;
}

.enlace__lista .enlace__link:hover {
  color: #0077B5;
}

/* Contacto */
.contacto__col {
  position: relative;
}

.contacto {
  padding: 4.8rem 0 6.5rem 0;
}

.contacto__imagen {
  position: absolute;
  z-index: -1;
  top: 5rem;
  right: 3.5rem;
  width: 110%;
  height: 280px;
}

.contacto__col h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #00B6F0;
}

.contacto__col p {
  font-weight: 570;
  font-size: 1rem;
  line-height: 25px;
  color: #464646;
}

.contacto__info {
  padding-top: 1rem;
}

.input__padron {
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 15px 10px;
  width: 90.5%;
  height: 55px;
  padding-right: 15px;
}

.input__padron--modificado {
  width: 95.5%;
  display: inline-block;
}

.input__padron--texta {
  display: inline-block;
  padding-top: 15px;
  padding-right: 15px;
  width: 95.5%;
  margin-top: 15px;
  margin-left: 10px;
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 200px;
}

.input__padron::placeholder,
.input__padron--texta::placeholder {
  color: #0A3871;
  opacity: 0.6;
}

.input__padron--texta:focus,
.input__padron:focus {
  border: thin solid #97dffc;
}

input,
textarea {
  font-size: 1rem;
  text-align: left;
  padding-left: 15px;
  resize: none;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.btn__Enviar {
  padding: 10px 48px;
  width: 31.5%;
  background: #0096c7;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  border-radius: 6px;
  position: relative;
  font-size: 16px;
}

.btn__Enviar:hover {
  background: #0096c7;
}

.btn__Enviar .icon {
  margin-right: 14px;
  position: relative;
  z-index: 10;
}

.btn__Enviar.active .icon {
  animation: animateRocket 2s ease-in-out forwards;
}

.btn__Enviar::before {
  content: 'Enviado';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #73a942;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s ease-in-out;
  transition-delay: 1s;
  border-radius: 6px;
  z-index: 20;
}

.btn__Enviar.active::before {
  width: 100%;
}

.btn__Enviar .icon {
  margin-top: 0;
}

@keyframes animateRocket {

  0%,
  5% {
    transform: rotate(0);
    left: 0;
  }

  25% {
    transform: rotate(45deg);
    left: 0;
  }

  50% {
    transform: rotate(45deg);
    left: -48px;
  }

  100% {
    transform: rotate(45deg);
    left: calc(100% + 48px);
  }
}

/* Alerta */
.contacto__form__respuesta {
  display: flex;
  height: 50px;
  justify-content: center;
}

.error {
  width: 22%;
  height: 50px;
}

.ocultar-error {
  visibility: hidden;
}

.ima-error {
  width: 9%;
}

.letra-alert {
  font-size: 12px;
}

/* Validaciones de la sección contacto */

.contacto__form [required]:valid {
  border: thin solid #4caf50;
}

.contacto__form [required]:invalid:not(:placeholder-shown) {
  border: thin solid #ff0000df;
}

.contacto__validaciones {
  display: flex;
  flex-direction: row;
}


.contacto__validacion {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* .contacto__form [required]:invalid:not(:focus):not(:placeholder-shown) {
  border: thin solid #f44336;

} */

.contacto__form__error {
  padding-left: 1rem;
  font-size: 85%;
  color: #ff0000df;
  transition: all 8ms ease;
}

.contacto__form__error.active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-in-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* Banner Día o noche*/

.banner.night,
.navbar.night {
  background-color: #252526;
}

.banner.night .nav__color:nth-child(2) {
  display: block;
}

.navbar.night .banner__nombre,
.navbar.night .nav-link,
.banner.night .quien__soy,
.banner.night .skills__lista span,
.banner.night .seccion__clara,
.banner.night .enlace__link,
.banner.night .contacto__col p {
  color: #fff;
}

.banner.night .enlace__link:hover {
  color: #0077B5;
}


.banner.night .carousel-indicators button {
  background-color: #fff;
}

.banner.night .carousel-dark .carousel-control-next-icon,
.banner.night .carousel-dark .carousel-control-prev-icon {
  filter: hue-rotate(0deg);
}

.banner.night .menu__lista li span {
  background: #fff;
  color: #000;
}

.banner.night .menu__lista li:nth-child(2) span {
  color: #fff;
  background: #0077B5;
}

.banner.night .formaciones__conteiner .formacion__item {
  box-shadow: rgba(255, 255, 255, 0.2) 3px 3px 3px inset, rgba(0, 0, 0, 0.2) -3px -3px 3px inset, rgba(255, 255, 255, 0.2) 3px 3px 3px, rgba(0, 0, 0, 0.2) -3px -3px 3px;
  background: #fff;
}

.banner.night .proyectos__row {
  box-shadow: rgba(255, 255, 255, 0.4) 3px 3px 3px inset, rgba(255, 255, 255, 0.4) 3px 3px 3px;
}

.banner.night .input__padron,
.banner.night .input__padron--texta {
  background-color: #252526;
  box-shadow: 4px 4px 24px rgba(255, 255, 255, 0.15);
  color: white;
}

.banner.night .input__padron::placeholder,
.banner.night .input__padron--texta::placeholder {
  color: #00B6F0;
  opacity: 0.6;
}

.banner.night .input__padron--texta:focus,
.banner.night .input__padron:focus {
  border: thin solid #97dffc;
}

.banner.night .contacto__form [required]:valid {
  border: thin solid #4caf50;
}

.banner.night .contacto__form [required]:invalid:not(:placeholder-shown) {
  border: thin solid #ff0000df;
}

.banner.night input:-webkit-autofill,
.banner.night input:-webkit-autofill:focus, 
.banner.night input:-webkit-autofill:hover, 
.banner.night input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #252526 inset !important;
}

.banner.night input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

.banner.night .btn__Enviar {
  color: #000000;
}

@media screen and (min-width: 2096px) {
  .contenedor__imagen {
    margin-top: 0rem;
  }

  .seccion__clara {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1901px) and (max-width: 2095px) {
  .contenedor__imagen {
    margin-top: 1.2rem;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1900px) {
  .contenedor__imagen {
    margin-top: 2.5rem;
  }

  .seccion__clara {
    padding-bottom: 3.5rem;
  }
}

@media screen and (min-width: 1571px) and (max-width: 1700px) {
  .contenedor__imagen {
    margin-top: 3.5rem;
  }

  .seccion__clara {
    padding-bottom: 3.5rem;
  }
}

@media screen and (min-width: 1520px) and (max-width: 1570px) {
  .contenedor__imagen {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1399px) {
  .conteiner__proyecto {
    width: 85%;
  }

  .proyecto__imagen {
    height: 300px;
  }

  .proyecto__titulo {
    font-size: 1.6rem;
  }

  .proyecto__info {
    font-size: 15px;
  }

  .enlace__link {
    font-size: 1rem;
  }

  .badges-contenedor {
    font-size: 18px;
  }

  .icono__enlace {
    font-size: 1.9rem;
  }

  .contacto__validaciones {
    display: flex;
    flex-direction: column;
  }


  .contacto__validacion {
    display: flex;
    flex-direction: column;
    width: 105%;
  }


  .error {
    width: 25%;
  }
}

@media screen and (max-width: 1355px) {
  .seccion__clara {
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 1329px) {
  .contenedor__imagen {
    margin-top: 5.5rem;
  }

  .seccion__clara {
    padding-bottom: 3.7rem;
  }
}

@media screen and (max-width: 1199px) {
  .conteiner__proyecto {
    width: 90%;
  }

  .proyecto__imagen {
    height: 300px;
  }

  .proyecto__titulo {
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .proyecto__info {
    font-size: 14px;
  }

  .enlace__lista {
    margin-top: 1.5rem;
  }

  .enlace__link {
    font-size: .9rem;
  }

  .badges-contenedor {
    font-size: 17px;
    padding-top: .6rem;
  }

  .icono__enlace {
    font-size: 1.8rem;
  }

  .error {
    width: 30%;
  }

  .btn__Enviar {
    padding: 10px 30px;
  }


  @keyframes animateRocket {

    0%,
    5% {
      transform: rotate(0);
      left: 0;
    }

    25% {
      transform: rotate(45deg);
      left: 0;
    }

    50% {
      transform: rotate(45deg);
      left: -30px;
    }

    100% {
      transform: rotate(45deg);
      left: calc(100% + 30px);
    }
  }
}


@media screen and (min-width: 1125px) {
  .logo__perfil {
    width: 390px;
    padding-left: 4rem;
  }
}

@media screen and (max-width: 1124px) {
  .quien__soy {
    font-size: 2.9em;
  }

  .logo__perfil {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 1142px) {
  .skill__item {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1110px) {
  .contenedor__imagen {
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 1076px) {
  .skill__item {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
  }

  .skills__lista span {
    padding-left: 0;
    padding-top: .7rem;
  }

  .carousel {
    width: 70%;
  }

  .contenedor__imagen {
    margin-top: 3rem;
  }

  .seccion__clara {
    padding-bottom: 3.2rem;
  }
}

@media screen and (max-width: 991px) {
  .quien {
    padding: 4.6rem 0 4rem 2rem;
  }

  .quien__soy {
    font-size: 2.6rem;
    line-height: 45px;
  }

  .descripcion {
    padding-top: 4.5rem;
  }

  .sobre__titulo {
    padding: 1rem 0 1rem 2rem;
  }

  .sobre__info {
    padding: 0 2rem 0 2rem;
  }

  .contenedor__imagen {
    margin-top: 4.6rem;
  }

  .seccion__clara {
    padding-bottom: 3.2rem;
  }

  .proyecto__titulo {
    font-size: 1.5rem;
  }

  .conteiner__proyecto {
    width: 80%;
    margin-top: 2rem;
  }

  .proyecto__info {
    font-size: 15px;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .enlace__lista {
    padding: initial;
  }

  .enlace__item {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contacto__imagen {
    right: .3rem;
    width: 120%;
  }

  input,
  textarea {
    font-size: .8rem;
  }

  .error {
    width: 40%;
  }

  .btn__Enviar {
    width: 45%;
  }
}

@media screen and (max-width: 882px) {
  .quien__soy {
    font-size: 2.23rem;
  }

  .menu__item {
    margin: 3.5rem 3rem 0 5rem;
  }

  .logo__perfil {
    width: 270px;
    padding-left: .5rem;
  }
}

@media screen and (max-width: 815px) {
  .contenedor__imagen {
    margin-top: 6.4rem;
  }
}


@media screen and (max-width: 767px) {
  .quien {
    order: 1;
    padding: 0 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .descripcion {
    padding-top: 3.2rem;
  }

  .quien__soy {
    font-size: 2.6rem;
  }

  .quien__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 0;
  }

  .menu__item {
    margin: 3.5rem 3rem 0 3rem;
  }

  .conteiner__proyecto {
    width: 84%;
  }

  .proyecto__info {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .proyecto__imagen {
    height: 230px;
  }

  .contacto__col h1 {
    margin-left: .78rem;
  }

  .contacto__col p {
    margin-left: .78rem;
  }

  .contacto__imagen {
    right: 0;
    width: 111%;
  }

  input,
  textarea {
    font-size: .8rem;
  }

  .error {
    width: 55%;
  }

  .btn__Enviar {
    width: 31.5%;
  }
}

@media screen and (max-width: 630px) {
  .hobbie__imagen {
    width: 26%;
  }
}

@media screen and (max-width: 610px) {
  .proyectos__row {
    width: 90%;
    margin: 0 auto;
  }

  .proyecto__info {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

}

@media screen and (max-width: 575px) {
  .contacto__validacion {
    width: 100%;
  }

  .input__padron {
    width: 95.5%;
  }
}

@media screen and (max-width: 570px) {
  .quien__soy {
    font-size: 2.3rem;
    line-height: 45px;
  }

  .logo__perfil {
    width: 260px;
    height: 328px;
    margin-bottom: -1rem;
  }

  .contacto__col p {
    font-size: .9rem;
  }

  .contenedor__imagen {
    margin-top: 4.5rem;
  }

  .hobbie__imagen {
    width: 35%;
  }

  .seccion__clara {
    padding-bottom: 3.7rem;
  }
}

@media screen and (max-width: 550px) {
  .proyecto__imagen {
    height: 210px;
  }

  .proyecto__titulo {
    font-size: 1.3rem;
  }

  .proyecto__info {
    font-size: 13.7px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .error {
    width: 60%;
  }

  .letra-alert {
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (max-width: 490px) {
  .btn__Enviar {
    width: 36%;
  }
}

@media screen and (max-width: 475px) {
  .quien__soy {
    font-size: 2rem;
  }

  .logo__perfil {
    width: 230px;
  }

  .menu__item {
    width: 50px;
    height: 50px;
  }

  .contenedor__imagen {
    margin-top: 4.5rem;
  }

  .hobbie__imagen {
    width: 40%;
  }

  .formaciones__conteiner .formacion__item {
    width: 300px;
    height: 300px;
  }

  .formacion__imagen1 {
    margin: 2.5rem 0 0 1.2rem;
    width: 70%;
  }

  .formaciones__titulo1 {
    font-size: 16px;
  }

  .formacion__imagen2 {
    width: 90%;
    margin: 2.5rem 0 0 0;
  }

  .formaciones__tiempo {
    font-size: 15px;
  }

  .formaciones__titulo2 {
    font-size: 16px;
  }

  .proyecto__imagen {
    height: 190px;
  }

  .proyecto__titulo {
    font-size: 1.2rem;
  }

  .proyecto__info {
    font-size: 13px;
  }
}

@media screen and (max-width: 435px) {
  .seccion__titulo {
    font-size: 1.7rem;
  }

  .sobre__titulo {
    font-size: 1.7rem;
  }

  .contacto__col h1 {
    font-size: 1.7rem;
  }

  .skill__item {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 20%;
  }

  .proyecto__imagen {
    height: 180px;
  }

  .proyecto__titulo {
    font-size: 1.1rem;
  }

  .proyecto__info {
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .enlace__link {
    font-size: .8rem;
  }

  .badges-contenedor {
    font-size: 16px;
  }

  .btn__Enviar {
    width: 40%;
  }
}

@media screen and (max-width: 410px) {
  .quien__soy {
    font-size: 1.7rem;
    line-height: 35px;
  }

  .menu__item {
    margin: 3.5rem 2rem 0 2rem;
  }

  .contenedor__imagen {
    margin-top: 6rem;
  }

  .seccion__clara {
    font-size: 12px;
  }
}

@media screen and (max-width: 369px) {
  .quien__soy {
    font-size: 1.4rem;
  }

  .logo__perfil {
    width: 230px;
  }
}