/* General */
main {
  font-family: 'Raleway', sans-serif;
}

.seccion__titulo {
  padding: 1rem 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #00B6F0;
}

/* Quien Soy */
.descripcion {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.quien {
  padding: 4.6rem 1.5rem 4rem 4.3rem;
}

.quien__soy {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 65px;
  color: black;
}

.quien__soy--resaltar {
  color: #00B6F0;
}

.menu__lista {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__item {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 3.5rem 3rem 0 7rem;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}


.menu__link:hover {
  cursor: pointer;
}

.menu__lista li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px !important;
}

.menu__lista li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
}

.menu__lista li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.menu__lista li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

.menu__lista li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

.menu__lista li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.menu__lista li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2;
}

.menu__lista li:nth-child(2) span {
  background: #0077B5;
}

.logo__perfil {
  width: 330px;
  height: 368px;
}

/* Sobre Mi */

.sobre {
  background-color: #E0F2FD;
  padding: 4rem 0 5.5rem 0;
}

.sobre__titulo {
  padding: 1rem 0 1rem 4.3rem;
  font-weight: 700;
  font-size: 2rem;
  color: #00B6F0;
}

.sobre__info {
  padding: 0 32% 0 4.3rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
  color: #464646;
}


.sobre .sobre__info span {
  position: relative;
  display: inline-block;
}

/* Skills */
.skills__col {
  padding: 4rem 0 5.5rem 0;
}

.skills__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: initial;
  width: 85%;
  margin: 0 auto;
}

.skill__item {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 4rem;
  width: 13%;
}

.skill__imagen {
  width: 40px;
  height: auto;

}

.skills__lista span {
  padding-left: 7px;
}

/* .skill__imagen:hover {
  transform: scale(90);
} */

/* Hobbies */
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.8rem 0 5.5rem 0;
}

.carousel {
  margin-top: 4rem;
  width: 50%;
}

.carousel-item {
  height: 400px;
}

.contenedor__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.hobbie__imagen {
  width: 20%;
}

/* Formacion */
.formaciones__col {
  padding: 3.8rem 0 5.5rem 0;
}

.formaciones__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 35px 0;
  margin: 0 auto;
}

.formaciones__conteiner .formacion__item {
  position: relative;
  width: 346px;
  height: 346px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.05);
  border-radius: 40px 0 40px 0px;
  margin: 30px;
}

.formaciones__conteiner .formacion__item .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0 40px 0px;
  transition: 0.5s;
}

.formaciones__conteiner .formacion__item .box:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}


.formacion__imagen {
  margin: 3.5rem 0 0 1.2rem;
  width: 80%;
  height: auto;
}

.formacion__imagen1 {
  margin: 3.5rem 0 0 1.2rem;
  width: 80%;
  height: auto;
}

.formaciones__titulo1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 2rem;
  margin-top: 1.5rem;
  color: #464646;
}

.formacion__imagen2 {
  width: 100%;
  height: auto;
  margin: 2.5rem 0 0 0;
}

.formaciones__tiempo {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 2rem;
  color: #464646;
}

.formaciones__titulo2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 2rem;
  margin-top: -0.5rem;
  color: #464646;
}